
/*************************************************************************/
/* Plugin Styles */
/*************************************************************************/
a.px_button {
	background-position: 5px 50%;
    background-repeat: no-repeat;
    border: medium none;
    display: block;
    padding: 4px 4px 4px 25px;
    text-decoration: none;
}


a.px_pluginHome {
    background-image: url('images/home.png');
}

a.px_pluginSupport {
    background-image: url('images/mail.png');
}

a.px_pluginBugs {
    background-image: url('images/bug.png');
}

a.px_pluginReview {
    background-image: url('images/review.png');
}

a.px_donatePayPal {
    background-image: url('images/paypal.png');
}

a.px_pluginFacebook {
    background-image: url('images/facebook.png');
}

a.px_pluginTwitter {
    background-image: url('images/twitter.png');
}

.tooltips {
	width: 12px;
    background-image: url('images/question_blue.png ');
}

.tooltip {
    display:none;
    background: transparent url('/images/facebook.png');
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:#eee;
}



